{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-secondary">
        Поръчката Ви е приета! За да продължите да пазарувате, върнете се в <a class="alert-link" href="{{ path('homepage') }}">магазина</a>.
    </div>

{% endblock %}

