{% extends 'base.html.twig' %}

{% block body %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr class="table-light">
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
            <a href="{{ path('edit_product', {'id':product.id}) }}">Редактирай</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}

