{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
    {% for product in products %}
        <div class="mt-4 card border-0 col-lg-3 col-md-4 col-sm-12 text-center">
            <img class="mx-auto" src="{{ asset('uploads/images/' ~ product.image) }}" alt="">
            <div class="card-body">
                <h4 class="card-title">{{ product.name}}</h4>
                <a href="{{ path('view_product', {'id':product.id}) }}" class="btn btn-outline-secondary">Виж</a>
                <a href="{{ path('edit_product', {'id':product.id}) }}" class="btn btn-outline-primary">Добави</a>

            </div>
        </div>

    {% endfor %}
    </div>

{% endblock %}